
Data/Parts/microdados_saeb_2017\.zip

SAEB/RProj\.zip

SAEB/SAEB\.Rproj
.Rproj.user

Data/Parts/microdados_saeb_2017/DADOS/TS_ALUNO_3EM_AG\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_ALUNO_3EM_ESC\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_ALUNO_5EF\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_ALUNO_9EF\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_DIRETOR\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_ESCOLA\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_ITEM\.csv

Data/Parts/microdados_saeb_2017/DADOS/TS_PROFESSOR\.csv

Data/Parts/microdados_saeb_2017/DICION╡RIO/Dicionario_ANEB_Prova_Brasil_2017\.xlsx

Data/Parts/microdados_saeb_2017/ESCALAS DE PROFICI╥NCIA/Escala_LP_3EM\.pdf

Data/Parts/microdados_saeb_2017/ESCALAS DE PROFICI╥NCIA/Escala_LP_5EF\.pdf

Data/Parts/microdados_saeb_2017/ESCALAS DE PROFICI╥NCIA/Escala_LP_9EF\.pdf

Data/Parts/microdados_saeb_2017/ESCALAS DE PROFICI╥NCIA/Escala_MT_3EM\.pdf

Data/Parts/microdados_saeb_2017/ESCALAS DE PROFICI╥NCIA/Escala_MT_5EF\.pdf

Data/Parts/microdados_saeb_2017/ESCALAS DE PROFICI╥NCIA/Escala_MT_9EF\.pdf

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_ALUNO_3EM\.sas

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_ALUNO_5EF\.sas

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_ALUNO_9EF\.sas

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_DIRETOR\.sas

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_ESCOLA\.SAS

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_ITEM\.sas

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SAS_TS_PROFESSOR\.sas

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_ALUNO_3EM\.sps

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_ALUNO_5EF\.sps

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_ALUNO_9EF\.sps

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_DIRETOR\.sps

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_ESCOLA\.sps

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_ITEM\.sps

Data/Parts/microdados_saeb_2017/INPUTS/INPUT_SPSS_TS_PROFESSOR\.sps

Data/Parts/microdados_saeb_2017/LEIA-ME E DOCUMENTOS TÉCNICOS/Leia-Me_Microdados_Aneb _Anresc_2017\.pdf

Data/Parts/microdados_saeb_2017/LEIA-ME E DOCUMENTOS TÉCNICOS/NOTA_TECNICA_SAEB_2017\.pdf

Data/Parts/microdados_saeb_2017/LEIA-ME E DOCUMENTOS TÉCNICOS/Registro_de_AlteraçΣes - Questionários\.pdf

Data/Parts/microdados_saeb_2017/LEIA-ME E DOCUMENTOS TÉCNICOS/Relatorio_Amostragem_Aneb_2017\.pdf

Data/Parts/microdados_saeb_2017/MATRIZES DE REFER╥NCIA/Matrizes_LP\.pdf

Data/Parts/microdados_saeb_2017/MATRIZES DE REFER╥NCIA/Matrizes_MT\.pdf

Data/Parts/microdados_saeb_2017/PLANILHAS DE RESULTADOS/TS_BRASIL\.xlsx

Data/Parts/microdados_saeb_2017/PLANILHAS DE RESULTADOS/TS_MUNICIPIO\.xlsx

Data/Parts/microdados_saeb_2017/PLANILHAS DE RESULTADOS/TS_REGIAO\.xlsx

Data/Parts/microdados_saeb_2017/PLANILHAS DE RESULTADOS/TS_UF\.xlsx

Data/Parts/microdados_saeb_2017/QUESTION╡RIOS/Questionario ALUNO - 3 Serie Ensino Medio\.pdf

Data/Parts/microdados_saeb_2017/QUESTION╡RIOS/Questionario ALUNO - 5 Ano Ensino Fundamental\.pdf

Data/Parts/microdados_saeb_2017/QUESTION╡RIOS/Questionario ALUNO - 9 Ano Ensino Fundamental\.pdf

Data/Parts/microdados_saeb_2017/QUESTION╡RIOS/Questionario da Escola\.pdf

Data/Parts/microdados_saeb_2017/QUESTION╡RIOS/Questionario do Diretor\.pdf

Data/Parts/microdados_saeb_2017/QUESTION╡RIOS/Questionario do Professor\.pdf
